.navbar{
    background-color: #5459b9;
    width: 100%;
    color: #f6f6f6;
    padding: 10px;
    position: fixed;
    background-image: url(../images/Flag4.svg.png);
    background-position: center;
    background-size: contain;
    z-index: 1000;
    
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: center;
    
}
.navbar li{
    margin: 0 20px;
    font-size: 1.5rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; 
   
}
.navbar li:hover{
    transform: scale(1.2);
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    text-shadow: black;
    text-shadow: 30px;
}
.navbar a:hover{
    color:  #203ea3;
    text-decoration: none;
    
}
html {
  scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
h1{
    font-size: 50px;
}
p{
    text-align: center;
    margin-top: 20px;
    color: #555;

}
.hero{
    will-change: transform, opacity;
    height: 100vh;
    width: 100%;
    background: url("../images/luisenplatz.jpeg") center/cover no-repeat;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    position: relative;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: transform 0.9s cubic-bezier(0.16, 1, 0.3, 1),
            opacity 0.9s cubic-bezier(0.16, 1, 0.3, 1);
}

.overlay{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.content{
    position: relative;
    z-index: 1;    
}
.content h1{
    transition: transform 0.5s ease-in-out;
}
.content h1:hover{
   transform: scale(1.1);
   transition: 0.3s;
}
.content p{
    color: white;
}




.about{
    min-height: 40vh;
    padding: 80px 20px;
    text-align: justify;
    justify-content: center;
    opacity: 0;
    transform: translateY(50px);
    transition:all 1s ease;
    overflow: hidden;
    position: relative;
}
.about::before{
    content: "";
    background-image: url(../images/citta.webp);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;    

}
.about p{
    text-align: center;
}
.hero.shrink{
    transform: scale(0.9);
    opacity: 0.5;
    transition: transform 0.8s ease, opacity 0.8s ease;
}
.about.show{
    opacity: 1;
    transform: translateY(0);
    transition: all 0.8s ease;
}
.about h2{
    font-size: 36px;
}
footer{
    background-color: #5459b9;
    text-align: center;
    padding: 10px;
    width: 100%;
}
@media (max-width: 768px){
    .navbar ul{
        flex-direction: column;
    }
    .navbar li{
        margin: 10px 0;
    }
    .navbar li:hover{
        background-color: #cc1414;
        
    }
    .navbar a:hover{
        color: white;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.2rem;
    }
    .parte_me{
        flex-direction: column;
        align-items: center;
    }
}
.parte_me{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 20px;
    
    
}
.foto_me{
    flex: 1;
    min-width: 200px;
}
.foto_me img{
    transition: transform 0.5s ease-in-out;
    max-width: 100%;
    height:auto;
    display: block;
}
.foto_me img:hover{
    transform: scale(1.05);
    transition: 0.3s;
}
.testo_me{
    flex: 2;
    flex-direction: column;
    gap: 20%;
    
    justify-content: center;
    min-width: 300px;
    text-align: justify;
    color: #333;
    font-family: Arial, sans-serif; 
}
mark{
    background-color: bisque;
    font-size: larger;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.sfondo{
    opacity: 0.5;
}
.testo_me p{
    color: #333;
    font-family: Arial, sans-serif;
    font: bold;
    
}
.testo_me h2{
    margin: 0;
    justify-content: center;
    text-align: center;
}
footer p{
    margin-top: 50px;
    color: #f6f6f6;
    padding: 10px;
    margin-top: 20px;
    border-top: none;
}
