<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Experience in Amsterdam</title>
    <link rel="stylesheet" href="../static/css/experience.css">
</head>
<header>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="meteo.html">Weather</a></li>
                <li><a href="experience.html">Experience</a></li>
                <li><a href="trashbin.html">Trashbinproject</a></li>
                <li><a href="TransportGame.html">Game</a></li>
            </ul>
        </nav>
</header>
<body>
    <main>
        <h1>My Personal Experience in Darmstadt</h1>
        <h2>Week 1</h2>
        <section class="settimana" id="settimana1">
            <div class="mosaico">
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260412_123747.jpg" alt="foto-viaggio-tram"></div>
                <div class="foto media"><img src="../static/images/settimana1/IMG_20260413_153435.jpg" alt="cartello-segnaletico-Darmstadt"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260413_154456.jpg" alt="Darmstadt-tram"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260414_161653.jpg" alt="strada-fiorita"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260414_181547.jpg" alt="giardino-famiglia1"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260414_181655.jpg" alt="giardino-famiglia1"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260415_095317.jpg" alt="foto-ITLAB"></div>
                <div class="foto piccola" style="grid-column: span 3;"><img src="../static/images/settimana1/IMG_20260415_142038.jpg" alt="prova-AI"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260416_125534.jpg" alt="prova-circuito"></div>
                <div class="foto media"><img src="../static/images/settimana1/IMG_20260416_125611.jpg" alt="prova-circuito"></div>
                <div class="foto alta"><img src="../static/images/settimana1/IMG_20260416_162733.jpg" alt="Luisenplatz"></div>
                <div class="foto grande"><img src="../static/images/settimana1/IMG_20260416_163248.jpg" alt="Luisenplatz"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260416_164143.jpg" alt="Luisenplatz"></div>
                <div class="foto piccola"><img src="../static/images/settimana2/Screenshot 2026-05-08 122333.png" alt="3d-print"></div>
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260417_103804.jpg" alt="prova-circuito-case"></div>    
                <div class="foto media"><img src="../static/images/settimana1/IMG_20260418_120027.jpg" alt="Frankfurt">    </div>        
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260418_145508.jpg" alt="Frankfurt"></div>           
                <div class="foto media"><img src="../static/images/settimana1/IMG_20260418_161044.jpg" alt="Frankfurt"></div>             
                <div class="foto piccola"><img src="../static/images/settimana1/IMG_20260419_163836.jpg" alt="Darmstadt-garden"></div>          
                <div class="foto larga" style="grid-row: span 2; grid-column: span 3;"><img src="../static/images/settimana1/IMG_20260419_161606.jpg" alt="fingertower"></div>
                
            </div>
        </section>
        <h2>Week 2</h2>
        <section class="settimana" id="settimana2">
            <div class="mosaico">
                <div class="foto piccola"><img src="../static/images/settimana2/Screenshot 2026-05-08 121833.png" alt="3d-print"></div>
                <div class="foto piccola"><img src="../static/images/settimana2/Screenshot 2026-05-08 121707.png" alt="3d-print"></div>
                <div class="foto larga"><img src="../static/images/settimana2/Screenshot 2026-05-08 122526.png" alt="3d-print"></div>
                <div class="foto piccola"><img src="../static/images/settimana2/IMG_20260420_131538.jpg" alt="3d-print"></div>
                <div class="foto piccola"><img src="../static/images/settimana2/IMG_20260422_210246.jpg" alt="paesaggio"></div>
                <div class="foto larga" style="grid-row: span 2;"><img src="../static/images/settimana2/IMG_20260422_211753.jpg" alt="basilisco"></div>
                <div class="foto media"><img src="../static/images/settimana2/IMG_20260425_163753.jpg" alt="torre-panoramica"></div>
                <div class="foto media"><img src="../static/images/settimana2/IMG_20260425_164519.jpg" alt="torre-panoramica"></div>
                <div class="foto media"><img src="../static/images/settimana2/IMG_20260423_153605.jpg" alt="bidone-struttura"></div>
                <div class="foto alta"><img src="../static/images/settimana2/IMG_20260425_165959.jpg" alt="torre-panoramica"></div>
                <div class="foto larga" style="grid-row: span 2;"><img src="../static/images/settimana2/IMG_20260425_194211.jpg" alt="partita-Lilies"></div>
                <div class="foto media"><img src="../static/images/settimana2/IMG_20260425_202328.jpg" alt="partita-Lilies"></div>
                <div class="foto altina"><img src="../static/images/settimana2/IMG_20260426_152122.jpg" alt="spaghettiEis"></div>    
            </div>        
        </section>
        <h2>Week 3</h2>
        <section class="settimana" id="settimana3">
            <div class="mosaico">
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260430_141652.jpg" alt="microbit-projects"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260430_154932.jpg" alt="Luisenplatz"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260430_155101.jpg" alt="Luisenplatz"></div>
                <div class="foto alta"><img src="../static/images/settimana3/IMG_20260430_160142.jpg" alt="Fingertower"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260430_160945.jpg" alt="Fingertower"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260430_161105.jpg" alt="Fingertower"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260501_124732.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260501_124921.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260501_130755.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto altina"><img src="../static/images/settimana3/IMG_20260501_133156.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto larga"><img src="../static/images/settimana3/IMG_20260501_142811.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260501_143355.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260501_151721.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260501_153035.jpg" alt="Rüdesheim-am-Rhein"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260502_174700.jpg" alt="Museum"></div>
                <div class="foto piccola"><img src="../static/images/settimana3/IMG_20260502_174057.jpg" alt="Museum"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260502_172542.jpg" alt="Museum"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260502_172606.jpg" alt="Museum"></div>
                <div class="foto altina"><img src="../static/images/settimana3/IMG_20260503_101236.jpg" alt="Train"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260503_104625.jpg" alt="Train"></div>
                <div class="foto larga" style="grid-row: span 2; grid-column: span 3;"><img src="../static/images/settimana3/IMG_20260503_103359.jpg" alt="Train"></div>
                <div class="foto media"><img src="../static/images/settimana3/IMG_20260503_181537.jpg" alt="Kletternhalle"></div>
            </div>
        </section>
        <h2>Week 4</h2>
        <section class="settimana" id="settimana4">
            <div class="mosaico">
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260507_102457.jpg" alt="Projects"></div>
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260507_102517.jpg" alt="Projects"></div>
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260507_102530.jpg" alt="Projects"></div>
                <div class="foto media"><img src="../static/images/settimana4/IMG_20260508_132224.jpg" alt="Projects"></div>
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260508_132214.jpg" alt="Projects"></div>
                <div class="foto media"><img src="../static/images/settimana4/IMG_20260510_150522.jpg" alt="Frankfurt"></div>
                <div class="foto altina"><img src="../static/images/settimana4/IMG_20260510_112538.jpg" alt="Fraport"></div>
                <div class="foto larga"><img src="../static/images/settimana4/IMG_20260510_134831.jpg" alt="Frankfurt"></div>
                <div class="foto grande"><img src="../static/images/settimana4/IMG_20260510_133117.jpg" alt="Frankfurt"></div>
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260510_151218.jpg" alt="Frankfurt"></div>
                <div class="foto media"><img src="../static/images/settimana4/IMG_20260510_134825.jpg" alt="Frankfurt"></div>
                <div class="foto piccola"><img src="../static/images/settimana4/IMG_20260510_152530.jpg" alt="Frankfurt"></div>
                <div class="foto media"><img src="../static/images/settimana4/IMG_20260510_151739.jpg" alt="Frankfurt"></div>
            </div>
        </section>
    </main>
    
</body>
</html>