<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Darmstadt 2026</title>
    <link rel="stylesheet" href="../static/css/meteo.css">
</head>
<body>
    
    
    <script src="../static/js/meteo.js"></script>
</body>

</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Darmstadt 2026</title>
    <link rel="stylesheet" href="../static/css/meteo.css">
</head>
<header>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="meteo.html">Meteo</a></li>
                <li><a href="trashbin.html">Trashbin</a></li>
            </ul>
        </nav>
</header>
<body>
    <main>
        <h1 id="titolo"><a id="link" href="https://www.accuweather.com/en/de/darmstadt/64283/weather-forecast/168715" target="_blank">Meteo Darmstadt</a></h1>
        <div class="colonne"> 
            <div class="weather-dashboard">
                <section class="main-card">
                    <div class="location-box">
                        <h2>Dasmstadt, Germany📍</h2>
                        <p id="date">giorno tempo reale...</p>
                        <p id="time" class="time-big">--:--</p>
                    </div>  
                    <div class="timp-box">
                        <span id="main-temp">22°</span>
                    </div>
                </section>
                <section class="blockses-small">
                    <div class="mini-card">
                        <label>Umiditá</label>
                        <p id="humidity">--%</p>
                    </div>
                    <div class="mini-card">
                        <label>Vento</label>
                        <p id="wind">-- km/h</p>
                    </div>
                    <div class="mini-card">
                        <label>Pressone</label>
                        <p id="pressure">---- hPa</p>
                    </div>
                </section>
            </div> 
            <div class="fixfor">
                <section class="forecast">
                    <h2>Forecast🌡️</h2>
                    <div class="forecast-row" id="forecast-id">
                        <div class="day"><span>Sab</span><strong>--°</strong></div>
                        <div class="day"><span>Dom</span><strong>--°</strong></div>
                        <div class="day"><span>Lun</span><strong>--°</strong></div>
                        <div class="day"><span>Mar</span><strong>--°</strong></div>
                        <div class="day"><span>Mar</span><strong>--°</strong></div>
                        <div class="day"><span>Mar</span><strong>--°</strong></div>
                        <div class="day"><span>Mar</span><strong>--°</strong></div>
                    </div>
                </section>
            </div>
            
        </div>
    </main>
    <script src="../static/js/meteo.js"></script>
    <div>
    <footer>
        <p>&copy; 2026 Erasmus Darmstadt. All rights reserved.</p>
    </footer>
    
</body>

</html>