<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erasmus Darmstadt 2026</title>
    <link rel="stylesheet" href="../static/css/game.css">
</head>
<header>
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="meteo.html">Weather</a></li>
                <li><a href="experience.html">Experience</a></li>
                <li><a href="trashbin.html">Trashbinproject</a></li>
                <li><a href="TransportGame.html">Game</a></li>
            </ul>
        </nav>
</header>
<body>
    <main>
        <div class="testi">
            <h1>RECYCLING IN CHAOS!</h1>
            <p>find the way to the trashbin</p>
        </div>
        <div id="controlli">
            <button class="btn-diff" onclick="creaGriglia(3)">Easy (3x3)</button>
            <button class="btn-diff" onclick="creaGriglia(5)">Medium (5x5)</button>
            <button class="btn-diff" onclick="creaGriglia(7)">Difficult (7x7)</button>
            <button class="btn-diff" onclick="verificaPercorso(1)"style="background-color: #3498; color: white;">Verify Track 🚀</button>
        </div>
        
        <div id="gioco-container"></div>





        
    </main>
    <script src="../static/js/game.js"></script>
    <div>
    <footer>
        <p>&copy; 2026 Erasmus Darmstadt. All rights reserved.</p>
    </footer>
    
</body>

</html>